[submodule "Amba/vendor/spdlog"]
	path = Amba/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Amba/vendor/GLM"]
	path = Amba/vendor/GLM
	url = git@github.com:g-truc/glm.git
[submodule "Amba/vendor/Imgui"]
	path = Amba/vendor/Imgui
	url = git@github.com:ocornut/imgui.git
